
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
@import '~bootstrap/scss/bootstrap.scss'; 


body{
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}

.ms_container{
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}
.ms_sec_cont{
    width: 60%;
    margin:0 auto;
    max-width: 1000px;
}
//buttons
a.button_green{
    text-decoration: none;
    color :#FFFFFF;
    padding: 10px 20px;
    background: #048383;
    border-radius: 5px;
}
a.empty_button{
    text-decoration: none;
    color :#FFFFFF;
    padding: 10px 20px;
    border-radius: 5px;
    border: solid 1px #048383;
}
//title
h1{
    font-weight: bold;
}
h6{
    text-transform: uppercase;
    color:#52BABB;
    font-size: 15px;
    font-weight: bold;
}
span.title_evidence,
span.title_evidence2{
    color: #098081;
    background-color: rgba(9, 128, 129,0.2);
    font-weight: bold;
    padding:0 10px ;
}
span.title_evidence2{
    color: #FFFFFF;
}
//social icon
.social{
    height: 15px;
    width: 15px;
    background: rgba(9, 128, 129,0.2);
    color: #098081;
    border-radius: 50%;
    padding: 10px;
}

